body {
    margin: 0px;
    background-color: #fcfcfc;
    display: flex;
    flex-wrap: wrap;
    padding: 100px;
}

body>a {
    text-decoration: none;
    padding: 10px;
    color: #000000;
    text-align: center;
    width: 100px;
    background-repeat: no-repeat;
    background-position: center 0px;
    padding-top: 65px;
    margin-top: 50px;
    font-size: 12px;
}

body>a:hover {
    outline: 1px solid #55b9e6;
}

body>a.folder {
    background-image: url("../images/folder.jpg");
}

body>a.file {
    background-image: url("../images/file.jpg");
}