[page-view="scss"] {
    width: calc(100vw - 200px);
    height: calc(100vh - 70px);
    top: 20px;
    left: 100px;
    font-size: 0;
    white-space: nowrap;

    &[focus="no"] {
        &>header {
            background-color: #e8eaed;
        }
    }

    &>header {
        text-align: left;
        line-height: 30px;
        background-color: #dee1e7;

        &>h2 {
            color: #000000;
            font-size: 12px;
            padding-left: 35px;
            background-image: url("./scss.png");
            background-position: 10px center;
            background-repeat: no-repeat;
            background-size: auto 60%;
            font-family: cursive;
            display: inline-block;
        }
    }

    &>div {
        display: inline-block;
        font-size: 16px;
        white-space: normal;
        vertical-align: top;
        outline: 1px solid #8c9da5;
        margin: 20px 0 0 20px;

        &>h2 {
            border-bottom: 1px solid #8c9da5;
            height: 50px;
            line-height: 50px;
            padding: 0 20px;
            position: relative;
            font-family: cursive;
            font-weight: 200;

            &>button {
                position: absolute;
                right: 10px;
                top: 10px;
                height: 30px;
                line-height: 30px;
                padding: 0 20px;
                border: none;
                outline: none;
                color: white;
                cursor: pointer;

                &.run {
                    background-color: #d05a90;
                }
            }
        }

        &>div {
            width: calc(50vw - 130px);
            height: calc(100vh - 190px);
        }
    }

}