[win-view="tools"] {
    right: 0;
    bottom: 55px;
    width: 326px;
    height: 382px;
    margin-right: 20px;
    z-index: 1;
    font-size: 16px;
    box-shadow: none;
    border-radius: 10px;

    &>div {
        box-shadow: 0 0 15px 3px #000000ab;
        border: 1px solid #ffffff52;

        &.calendar {
            width: 326px;
            margin: auto;
            text-align: center;
            color: white;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background-color: #382f1d;
            border-radius: 10px;

            &>div {

                &.header {

                    &>button {
                        border: none;
                        outline: none;
                        background-color: transparent;
                        font-size: 14px;
                        color: rgb(184, 182, 182);
                        cursor: pointer;
                        width: 30px;
                        height: 30px;
                        border-radius: 5px;

                        &:hover {
                            background-color: #eff9f80f;
                        }
                    }

                    &>h3 {
                        display: inline-block;
                        width: 200px;
                        text-align: left;
                        padding-top: 20px;
                        padding-bottom: 30px;
                        font-size: 18px;
                        font-weight: 200;
                        font-family: monospace;
                    }
                }

                &.title {
                    margin-top: 10px;

                    &>span {
                        line-height: 20px;
                        height: 20px;
                    }
                }

                &.items {
                    padding: 20px;

                    &>span {
                        border-radius: 50%;
                        cursor: pointer;

                        &.gray {
                            color: #75756c;
                        }

                        &:not(.gray):hover {
                            background-color: #eff9f80f;
                        }

                        &.today {
                            background-color: #55c8fb;
                            color: black;
                            font-size: 18px;

                            &:hover {
                                background-color: #60bae1;
                            }
                        }

                    }
                }

                &>span {
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;

                }
            }
        }
    }
}