[dialog-view='save'] {
    position: fixed;
    left: calc(50vw - 150px);
    top: 100px;
    border: 1px solid gray;
    min-height: 300px;
    width: 300px;
    background-color: white;

    &>h2 {
        font-size: 12px;
        padding-left: 30px;
        background-image: url('./image-editor.png');
        background-size: auto 80%;
        background-repeat: no-repeat;
        background-position: 3px center;
        border-bottom: 1px solid gray;
        line-height: 30px;
        height: 30px;
        user-select: none;
        cursor: move;
    }

    &>div.right-btn {
        display: flex;

        &>div {
            &:first-child {
                flex-grow: 1;
                padding: 10px 0 10px 10px;
            }

            &:last-child {
                text-align: center;
                flex-grow: 0;
                flex-shrink: 0;
                flex-basis: 70px;

                &>button {
                    height: 30px;
                    border-radius: 15px;
                    width: 50px;
                    margin-top: 10px;

                    &:hover {
                        background-color: rgb(127, 131, 131);
                        cursor: pointer;
                    }
                }

            }
        }
    }

    fieldset {
        margin-top: 10px;
        font-size: 12px;
    }

    ul {
        &>li {
            line-height: 2em;
            margin-top: 5px;
            white-space: nowrap;

            &>label {
                width: 40px;
                display: inline-block;
                text-align: right;
            }

            &>input,
            select {
                width: 150px;
                margin-right: 5px;
            }
        }
    }

    .review {
        margin: 9px auto;
        outline: 1px solid gray;
        position: relative;

        &::before {
            width: 100%;
            height: 100%;
            display: inline-block;
            background-image: url(./mosaic.png);
            background-size: 10px auto;
            content: " ";
            position: absolute;
            left: 0;
            top: 0;
        }

        &>span {
            display: inline-block;
            width: 100%;
            height: 100%;
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;
            position: relative;
        }
    }
}