[page-view] {
    margin: 0 auto;
    box-shadow: 0 0 7px 0px #9e9e9e;

    &>header {
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        line-height: 50px;
        box-shadow: rgb(213 221 225) 0px 4px 6px;
        background-color: white;
        z-index: 1;

        &>h2 {
            color: #eb6736;
            font-size: 20px;
            padding-left: 50px;
            background-image: url(./logo.png);
            background-position: 10px center;
            background-repeat: no-repeat;
            background-size: auto 60%;
            font-family: cursive;
        }
    }

    &>div {
        &.tips {
            font-size: 12px;
            color: #2196f3;
            background-color: #ffeb3b;
            width: 500px;
            line-height: 30px;
            height: 30px;
            text-align: center;
            left: calc(50% - 250px);
            top: 10px;
            position: fixed;
            user-select: none;
            z-index: 1;
        }

        &.content {
            width: 660px;
            margin-left: calc(50vw - 330px);
            padding: 60px 0 30px 0;
            background-color: white;
            box-shadow: rgb(235 103 54) 0px 4px 6px;

            &>h3 {
                margin: 20px 0 0 10px;
                border-left: 3px solid red;
                padding: 5px 10px;
            }

            &>ul {
                font-size: 0;

                &>li {
                    display: inline-block;
                    width: 300px;
                    height: 70px;
                    background-color: #dcdcdc;
                    background-repeat: no-repeat;
                    background-size: auto 50px;
                    background-position: 10px center;
                    padding: 10px;
                    padding-left: 70px;
                    margin: 20px 0 0 20px;
                    cursor: pointer;
                    vertical-align: top;
                    position: relative;

                    &::after {
                        position: absolute;
                        right: -9px;
                        top: 5px;
                        font-size: 12px;
                        color: white;
                        padding: 2px 5px;
                        border-radius: 5px;
                    }

                    // 标记开发中
                    // 如果一个产品未开发完毕
                    // 可以用此进行说明
                    &.dev {
                        &::after {
                            content: "开发中";
                            background-color: #8bc34a;
                            outline: 1px dashed #8bc34a;
                        }
                    }

                    &:hover {
                        text-decoration: underline;
                        outline: 1px solid #cddc39;
                    }

                    &>h4 {
                        font-size: 14px;
                    }

                    &>p {
                        font-size: 12px;
                        line-height: 1.2em;
                        margin-top: 5px;
                    }

                    &[tag="regexper-visualization"] {
                        background-image: url('./regexper-visualization.png');
                    }

                    &[tag="audio-editor"] {
                        background-image: url('./audio-editor.png');
                    }

                    &[tag="format-json"] {
                        background-image: url('./format-json.png');
                    }

                    &[tag="image-editor"] {
                        background-image: url('./image-editor.png');
                    }

                    &[tag="model-editor"] {
                        background-image: url('./model-editor.png');
                    }

                    &[tag="video-play"] {
                        background-image: url('./video-play.png');
                    }

                    &[tag="snake-eating"] {
                        background-image: url('./snake-eating.png');
                    }

                    &[tag="scss"] {
                        background-image: url('./scss.png');
                    }

                    &[tag="code-editor"] {
                        background-image: url('./code-editor.png');
                    }
                }
            }
        }
    }
}