[dialog-view='debugger'] {
    width: 340px;
    height: calc(100vh - 60px);
    left: calc(50vw - 170px);
    top: 30px;
    background-color: white;

    &>header {
        background-image: url("./debugger.png");
        padding-left: 40px;
        background-repeat: no-repeat;
        background-position: 10px center;
        background-size: auto 60%;
        background-color: #d7d7d7;
        color: #000000;
        line-height: 40px;
        position: relative;


        &>span {
            font-style: normal;
            width: 30px;
            height: 30px;
            float: right;
            text-align: center;
            cursor: pointer;
        }
    }

    &>ul {
        height: calc(100% - 40px);
        overflow: auto;
        font-size: 12px;
        font-weight: 200;

        &>li {
            border-bottom: 1px solid #e2e1e1;
            padding: 5px;

            &.blank {
                &:first-child:last-child {
                    display: block;
                }

                display: none;
                border-bottom: none;
                text-align: center;
                padding-top: 100px;
                font-size: 26px;
                font-family: monospace;
                color: #9e9e9e;
                font-weight: 200;
            }

            &>div {
                &.br {
                    height: 5px;
                }
            }

            [isopen] {
                position: relative;

                &:before {
                    content: " ";
                    display: inline-block;
                    width: 0;
                    height: 0;
                    position: absolute;
                    left: -15px;
                    top: 4px;
                }
            }

            [isopen='no'] {
                &>div {
                    display: none;
                }

                &:before {
                    border-top: 5px solid transparent;
                    border-bottom: 5px solid transparent;
                    border-left: 10px solid #9e9e9e;
                }
            }

            [isopen='yes'] {
                &:before {
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 10px solid #9e9e9e;
                }
            }

            [defType='showobject'] {
                span {
                    display: block;
                    margin-top: 5px;
                }

                .item {
                    margin-left: 20px;
                }

                i {
                    font-style: normal;
                    cursor: pointer;
                }
            }

            .item {
                white-space: nowrap;
            }

            &>.item {
                margin-left: 15px;
            }
        }
    }
}