[win-view="begin"] {
    left: 5px;
    bottom: 40px;
    width: 400px;
    height: 505px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    border-radius: 5px;
    font-size: 12px;
    border: 1px solid #4c4c4c;
    box-shadow: none;

    &>div {
        position: absolute;

        &.application {
            background-color: white;
            width: 255px;
            height: 455px;
            left: 10px;
            top: 10px;
            border-radius: 5px;
            box-shadow: inset 0 0 1px 2px grey;
            padding: 10px 5px;
            overflow: auto;

            &::-webkit-scrollbar {
                width: 0;
                height: 0;
            }

            &>h1 {
                padding: 0 10px;
                line-height: 34px;
                font-size: 14px;

                &>button {
                    float: right;
                    height: 22px;
                    margin-top: 6px;
                    font-size: 12px;
                    background-color: #dcdede;
                    outline: none;
                    border: none;
                    color: #696565;
                    border-radius: 3px;
                    cursor: pointer;
                    background-image: none;
                }
            }

            &>h2 {
                font-size: 12px;
                line-height: 25px;
                padding-left: 10px;
                font-weight: 200;
                color: #4d4d4d;
            }

            &>div {
                &[tag] {
                    background-repeat: no-repeat;
                    background-position: 5px center;
                    background-size: auto 80%;
                    line-height: 40px;
                    padding-left: 45px;
                    cursor: pointer;
                    color: #4b4a4a;
                    font-weight: 800;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

        }

        &.search {
            width: 255px;
            height: 25px;
            left: 10px;
            top: 470px;

            &>input {
                width: 100%;
                height: 100%;
                border-radius: 5px;
                box-shadow: inset 0 0 1px 2px grey;
                outline: none;
                border: none;
                padding: 0 5px;
            }
        }

        &.user {
            border-radius: 5px;
            box-shadow: inset 0 0 1px 2px grey;
            padding: 5px;
            left: 300px;
            top: -30px;
            background-color: #0e7784;

            &>div {
                width: 50px;
                height: 50px;
                border-radius: 2px;
                background-image: url("../images/zxl20070701.jpg");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 100% auto;
                border: 1px solid black;
            }
        }

        &.quick {
            left: 265px;
            top: 50px;
            width: 135px;
            padding: 15px;
            line-height: 2.4em;

            &>hr {
                border-color: #b8b8b8;
            }

            &>div,
            &>a {
                cursor: pointer;
                display: block;
                color: #d1caca;
                padding: 0 5px;
                background-image: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}