[page-view] {
    background-color: #fafafa;
    height: 100vh;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 0px;
    }

    &>header {
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        line-height: 50px;
        box-shadow: rgb(213 221 225) 0px 4px 6px;
        background-color: white;
        z-index: 1;

        &>h2 {
            color: #eb6736;
            font-size: 20px;
            padding-left: 50px;
            background-image: url(../public/logo.png);
            background-position: 10px center;
            background-repeat: no-repeat;
            background-size: auto 60%;
            font-family: cursive;
        }

        &>.btn {
            position: absolute;
            width: 30px;
            height: 20px;
            background-position: center center;
            top: 15px;
            font-size: 0;
            background-repeat: no-repeat;
            cursor: pointer;
            background-color: #d3d9de;
            background-image: url('../public/win-btn.png');
            background-position-y: center;
            border-radius: 3px;

            &.fresh {
                background-image: url('../public/fresh.png');
                right: 120px;
            }

            &.min {
                background-image: url('../public/min.png');
                right: 75px;
            }

            &.close {
                background-position-x: -124px;
                right: 30px;
                background-color: #ff0000;
            }
        }
    }

    &>div {
        &.tips {
            font-size: 12px;
            color: #2196f3;
            background-color: #ffeb3b;
            width: 500px;
            line-height: 30px;
            height: 30px;
            text-align: center;
            left: calc(50% - 250px);
            top: 10px;
            position: fixed;
            user-select: none;
            z-index: 1;

            &>span {
                background-color: white;
                padding: 0 5px;
                margin: 0 5px;
                color: black;
                cursor: pointer;
            }
        }

        &.content {
            width: 660px;
            min-height: 100vh;
            margin-left: calc(50vw - 330px);
            padding: 60px 0 30px 0;
            background-color: white;
            box-shadow: rgb(235 103 54) 0px 4px 6px;

            &>h3 {
                margin: 20px 0 0 10px;
                border-left: 3px solid red;
                padding: 5px 10px;
            }

            &>ul {
                font-size: 0;

                &>li {
                    display: inline-block;
                    width: 300px;
                    height: 70px;
                    background-color: #dcdcdc;
                    background-repeat: no-repeat;
                    background-size: auto 50px;
                    background-position: 10px center;
                    padding: 10px;
                    padding-left: 70px;
                    margin: 20px 0 0 20px;
                    cursor: pointer;
                    vertical-align: top;
                    position: relative;

                    &::after {
                        position: absolute;
                        right: -9px;
                        top: 5px;
                        font-size: 12px;
                        color: white;
                        padding: 2px 5px;
                        border-radius: 5px;
                    }

                    // 标记开发中
                    // 如果一个产品未开发完毕
                    // 可以用此进行说明
                    &.dev {
                        &::after {
                            content: "开发中";
                            background-color: #8bc34a;
                            outline: 1px dashed #8bc34a;
                        }
                    }

                    &:hover {
                        text-decoration: underline;
                        outline: 1px solid #cddc39;
                    }

                    &>h4 {
                        font-size: 14px;
                    }

                    &>p {
                        font-size: 12px;
                        line-height: 1.2em;
                        margin-top: 5px;
                    }

                    &[tag="talker"] {
                        background-image: url('../public/talker.png');
                    }

                    &[tag="browser"] {
                        background-image: url('../public/browser.png');
                    }

                    &[tag="terminal"] {
                        background-image: url('../public/terminal.png');
                    }

                }
            }
        }

        &.quick-link {
            position: fixed;
            top: 120px;
            background-color: white;
            box-shadow: 0 0 6px 0px #d6cdcd;
            padding: 5px;
            width: 60px;
            z-index: 200;

            &.left {
                border-radius: 0 10px 10px 0;
                left: 0;
            }

            &.right {
                border-radius: 10px 0 0 10px;
                right: 0;
            }

            &>a {
                display: block;
                font-size: 12px;
                height: 80px;
                width: 50px;
                background-size: 100% auto;
                background-position: center top;
                background-repeat: no-repeat;
                padding-top: 50px;
                line-height: 30px;
                text-align: center;
                color: black;

                &.github {
                    background-image: url('../public/code-source.jpg');
                }

                &.home {
                    background-image: url('../public/logo.png');
                }

                &.notebook {
                    background-image: url('../public/notebook.png');
                }
            }
        }
    }
}