[page-view] {
    text-align: center;
    padding-top: calc(50vh - 300px);

    .video {
        width: 960px;
        display: inline-block;
        position: relative;

        &>video {
            background-color: black;
        }

        &>.open {
            position: absolute;
            z-index: 1;

            &>label {
                display: inline-block;
                font-size: 0;
                background-image: url('./video-play.png');
                background-size: 100% auto;
                cursor: pointer;
            }

            &>input {
                display: none;
            }
        }

        &>.controls {
            display: inline-block;
            width: 960px;
            height: 50px;
            background-color: white;
            text-align: left;
            padding-left: 60px;
            position: relative;
            top: -3px;
            outline: 1px solid #607d8b;

            &>button {
                height: 100%;
                width: 50px;
                background-color: transparent;
                outline: none;
                border: none;
                cursor: pointer;
                background-size: 100% auto;
                font-size: 0;

                &.play {
                    background-image: url('./start.png');
                }

                &.pause {
                    background-image: url('./pause.png');
                }

                &.full {
                    float: right;
                    background-image: url('./full.png');
                    font-size: 0;
                    background-repeat: no-repeat;
                    background-size: 65% auto;
                    background-position: center center;

                    &:hover {
                        background-size: 70% auto;
                    }
                }
            }

            &>[is-hidden='yes'] {
                display: none;
            }
        }


        &[is-null='yes'] {
            &>.controls {
                display: none;
            }

            &>.open {
                left: 405px;
                top: 195px;

                &>label {
                    width: 150px;
                    height: 150px;
                }
            }
        }

        &[is-null='no'] {
            &>.open {
                left: 5px;
                top: 525px;

                &>label {
                    width: 50px;
                    height: 50px;
                    border-right: 1px solid #9e9e9e;
                }
            }
        }
    }
}