[page-view="regexper-visualization"] {
    padding-bottom: 20px;
    width: 800px;
    left: calc(50vw - 400px);
    top: 50px;

    &[focus="no"] {
        &>header {
            background-color: #646125;
        }
    }

    &>header {
        text-align: left;
        line-height: 50px;
        background-color: #595616;
        margin-bottom: 30px;

        &>h2 {
            color: #98932e;
            font-size: 20px;
            padding-left: 50px;
            background-image: url("./regexper-visualization.png");
            background-position: 10px center;
            background-repeat: no-repeat;
            background-size: auto 60%;
            font-family: cursive;
            display: inline-block;
        }
    }

    &>div {
        &.help-hidden {
            position: fixed;
            font-size: 12px;
            font-family: sans-serif;
            padding: 0;
            border: none;
            bottom: -100px;
        }
    }

    text-align: center;

    input {
        &[type="text"] {
            width: 700px;
            height: 30px;
            padding: 0 10px;
        }
    }

    button {
        height: 30px;
        margin-left: 10px;
        background-color: #97932e;
        color: #fefefe;
        cursor: pointer;
    }

    canvas {
        background-color: white;
    }

    hr {
        margin: 20px 0;
    }

    .isString {
        margin-top: 10px;
        font-size: 12px;

        input {
            vertical-align: sub;
        }

        span {
            display: inline-block;
            width: 20px;
        }
    }
}