body {
    background-color: #fafafa;

    .quick-link {
        position: fixed;
        top: 120px;
        background-color: white;
        box-shadow: 0 0 6px 0px #d6cdcd;
        padding: 5px;
        width: 60px;

        &.left {
            border-radius: 0 10px 10px 0;
            left: 0;
        }

        &.right {
            border-radius: 10px 0 0 10px;
            right: 0;
        }

        &>a {
            display: block;
            font-size: 12px;
            height: 80px;
            width: 50px;
            background-size: 100% auto;
            background-position: center top;
            background-repeat: no-repeat;
            padding-top: 50px;
            line-height: 30px;
            text-align: center;
            color: black;

            &.github {
                background-image: url('./code-source.jpg');
            }

            &.home {
                background-image: url('./logo.png');
            }

            &.notebook {
                background-image: url('./notebook.png');
            }
        }
    }
}