[dialog-view='what'] {
    left: calc(50vw - 130px);
    top: calc(50vh - 200px);
    background-color: transparent;
    user-select: none;
    border-radius: 10px;

    &>div {
        width: 260px;
        height: 370px;
        background-color: #dbdde0;
        border-radius: 10px;
        text-align: center;
        padding-top: 20px;

        &>header {
            font-weight: 800;
            padding-top: 20px;

            &>div {
                font-size: 12px;
                line-height: 2em;
                font-weight: 200;
            }
        }

        &>div {
            &.tips {
                font-size: 12px;
                color: #ffffff;
                background-color: #e91e63;
                position: fixed;
                z-index: -1;
                user-select: none;
                width: 90vw;
                line-height: 30px;
                height: 30px;
                left: 5vw;
                top: 10px;
                text-align: center;
            }

            &.system-btn {
                position: fixed;
                left: 0;
                top: 50px;
                width: 100vw;
                text-align: center;

                &>button {
                    border-radius: 5px;
                    font-size: 12px;
                    background-color: black;
                    color: white;
                    outline: none;
                    border: none;
                    padding: 5px 10px;
                    box-shadow: 0 0 10px 3px white;
                    margin: 0 10px;
                }
            }

            &.current-tips {
                position: fixed;
                z-index: -1;
                width: 100vw;
                bottom: 10px;
                left: 0;
                font-size: 14px;
                color: white;
                text-align: center;
                font-family: cursive;
            }

            &.logo {
                background-image: url('./logo.png');
                background-size: 70% auto;
                background-position: center center;
                background-repeat: no-repeat;
                width: 60px;
                height: 60px;
                margin: auto;
                background-color: white;
                border-radius: 10px;
            }

            &.content {
                padding: 0 30px;
                font-size: 12px;
                line-height: 1.4em;

                &>div {
                    margin-top: 20px;
                    text-align: left;
                    text-indent: 2em;
                    color: rgb(56, 55, 55);

                    &>h2 {
                        display: inline-block;
                        font-size: inherit;
                        text-indent: 0;
                    }
                }
            }

            &.btn-list {
                position: absolute;
                left: 0;
                bottom: 15px;
                width: 100%;

                &>a {
                    color: #363737;
                    width: 110px;
                    line-height: 30px;
                    border-radius: 5px;
                    display: inline-block;
                    font-size: 13px;

                    &:first-child {
                        background-color: #c1c3c6;
                    }

                    &:last-child {
                        margin-left: 10px;
                        background-color: #b5b7ba;
                    }
                }
            }
        }
    }
}