[dialog-view='pice'] {
    width: 900px;
    height: calc(100vh - 200px);
    position: fixed;
    left: calc(50vw - 450px);
    top: 100px;
    background-color: white;
    overflow: auto;

    &>canvas {
        height: 100px;
        width: 900px;
    }

    &>div {
        &.add-split {
            margin-top: 10px;
            margin-left: 10px;

            input {
                height: 24px;
                width: 160px;
                padding: 0 10px;
                vertical-align: top;
                outline: none;
            }

            button {
                height: 24px;
                border: none;
                font-size: 12px;
                padding: 0 10px;
                background-color: #b2b2bd;
                color: white;
                vertical-align: top;
                cursor: pointer;

                &.reset {
                    margin-left: 10px;
                }
            }
        }

        &.update {
            text-align: center;
            background-image: url("./more-line.png");
            background-repeat: no-repeat;
            background-position: center top;
            margin-top: 30px;

            &>span {
                color: #6d757a;
                font-size: 12px;
                background-image: url("./more.png");
                background-repeat: no-repeat;
                background-position: center bottom;
                width: 94px;
                height: 30px;
                line-height: 30px;
                display: inline-block;
                position: relative;
                bottom: 10px;
                cursor: pointer;
            }
        }

        &.btn-list {
            text-align: center;
            margin-top: 30px;

            &>button {
                height: 24px;
                border: none;
                font-size: 12px;
                background-color: #2196f3;
                color: white;
                width: 70px;
                margin: 10px;
                cursor: pointer;

                &.gray {
                    background-color: #9e9fa0;
                }
            }
        }
    }

    &>table {
        width: calc(100% - 20px);
        font-size: 14px;
        margin: 10px;

        thead {
            background-color: #b2b2bd;
        }

        th {
            padding: 5px 10px;
            font-size: 12px;
            font-weight: 400;
        }

        tbody,
        thead {
            border: 1px solid #b2b2bd;
        }
    }
}